.hide_label {
  display: none !important;
  visibility: hidden !important;
}

.hide-mobile {
  display: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block !important;
    visibility: visible !important;
  }
}

.hide-desktop {
  display: block;
  visibility: visible;
  margin-block-start: 0px !important;
}
@media (min-width: 768px) {
  .hide-desktop {
    display: none !important;
    visibility: hidden !important;
  }
}

.nomargin {
  margin: 0px !important;
  padding: 0px !important;
}

.came-box-content-carousel-1 .wp-block-latest-posts__post-title {
  font-size: 2.9rem !important;
  line-height: 2.9rem !important;
  min-height: 170px;
}
@media (min-width: 768px) {
  .came-box-content-carousel-1 .wp-block-latest-posts__post-title {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }
}
@media (min-width: 1024px) {
  .came-box-content-carousel-1 .wp-block-latest-posts__post-title {
    min-height: 200px;
  }
}

.line-slider-menu > ul.menu li.icon-parcheggi-premium a::before {
  background-image: url(../img/premium-parking.jpg);
}

.line-slider-menu > ul.menu li.icon-management-software a::before {
  background-image: url(../img/management-software.jpg);
}

.line-slider-menu > ul.menu li.icon-smart_home a::before {
  background-image: url(../img/icon-smart_home.webp);
}

.line-slider-menu > ul.menu li.icon-shutters_light a::before {
  background-image: url(../img/icon-shutters_lights.webp);
}

.line-slider-menu > ul.menu li.icon-smart_automation a::before {
  background-image: url(../img/icon-smart_automation.webp);
}

.line-slider-menu > ul.menu li.icon-connect_access_control a::before {
  background-image: url(../img/connect-access_control.webp);
}

.line-slider-menu > ul.menu li.icon-speed-gates a::before {
  background-image: url(../img/icon-speed_gates.webp);
}

.line-slider-menu > ul.menu li.icon-traffic-management a::before {
  background-image: url(../img/traffic_management_bollards.webp);
}

.line-slider-menu > ul.menu li.icon-rb-management a::before {
  background-image: url(../img/icon-rb-management.webp);
}

.came-box-category-list ul li.icon-road-blockers > a::before {
  background-image: url(../img/dissuasori.svg);
}

@media (min-width: 1024px) {
  .has-medium-font-size {
    font-size: 1.9rem !important;
  }
}
@media (min-width: 1400px) {
  .has-medium-font-size {
    font-size: 2.5rem !important;
  }
}

@media (min-width: 1024px) {
  .has-small-font-size {
    font-size: 1.6rem !important;
  }
}
@media (min-width: 1400px) {
  .has-small-font-size {
    font-size: 1.8rem !important;
  }
}

.product-page-header ul.list-presentation-text li {
  font-size: 2.5rem !important;
  line-height: 3.5rem !important;
}

.hide-desktop h2 span {
  font-size: 4.5rem !important;
  line-height: 4.1rem !important;
  min-height: 165px;
}

@media (min-width: 1024px) {
  .hide-mobile .banner-main-title {
    max-width: 60% !important;
  }
}
@media (min-width: 1400px) {
  .hide-mobile .banner-main-title {
    max-width: 50% !important;
  }
}

.ombra_blocchi {
  box-shadow: -7px 11px 14px rgba(153, 153, 153, 0.19), 0 6px 6px rgba(179, 178, 178, 0.23);
}

.testo_immagine_quality {
  border: 1px solid rgba(0, 50, 71, 0.1294117647);
}
.testo_immagine_quality .wp-element-caption {
  margin: 0 !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  padding: 1rem !important;
  font-size: 1.4rem !important;
  width: auto !important;
  background: unset !important;
  box-sizing: unset !important;
  color: #003247 !important;
  font-size: unset !important;
  bottom: unset !important;
  left: unset !important;
  margin-bottom: unset !important;
  max-height: unset !important;
  overflow: unset !important;
  position: unset !important;
}

.section_about_social .wp-block-image {
  margin-bottom: 2rem;
}

.came-box-banners-slider .box-banner.overlay-dark-blu .banner-bg-image::before {
  content: "";
  display: block;
  background-color: rgba(0, 50, 71, 0.5) !important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.came-box-banners-slider .box-banner.came-banner-default .box-banner-content h2 span {
  font-size: 5.5rem;
  margin-top: 2rem;
  display: block;
}

.came-box-banners-slider .box-banner .banner-main-title h2 {
  line-height: 5rem;
}

.div_bottoni {
  display: none !important;
}

@media (max-width: 768px) {
  .div_qr {
    display: none !important;
  }
  .div_bottoni {
    display: block !important;
  }
}
.came-box-custom-card-slider .cards-container h2 {
  min-height: 100px !important;
}

.logo_footer {
  width: 100px !important;
}

.wp-block-column.footer-menu-col-style:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-bandierine .wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow:first-child {
  max-width: 50px;
}
.div-bandierine .wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow:first-child figure {
  display: flex;
}
.div-bandierine .wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow:first-child figure img {
  width: 28px;
}

.page-header-press-release {
  margin: 50px 0 !important;
  padding: 0 !important;
  max-width: var(--responsive--alignwide-width) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left !important;
}

.page-header-press-release h1 {
  font-size: var(--wp--preset--font-size--x-large) !important;
}

.container-box-hamburger-menu.open ul.menu > li > a {
  cursor: pointer !important;
}

.came-box-banners-slider .flickity-page-dots .dot.is-selected {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.button-whatsapp-channel-desktop {
  display: block;
}

.button-whatsapp-channel-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .button-whatsapp-channel-desktop {
    display: none;
  }
  .button-whatsapp-channel-mobile {
    display: block;
  }
}
.came-box-tabs a:visited {
  text-decoration: underline;
}