.line-slider-menu > ul.menu li.icon-parcheggi-premium a::before {
    background-image: url(../img/premium-parking.jpg);
}
.line-slider-menu > ul.menu li.icon-management-software a::before {
    background-image: url(../img/management-software.jpg);
}

.line-slider-menu > ul.menu li.icon-smart_home a::before {
    background-image: url(../img/icon-smart_home.webp);
}

.line-slider-menu > ul.menu li.icon-shutters_light a::before {
    background-image: url(../img/icon-shutters_lights.webp);
}
.line-slider-menu > ul.menu li.icon-smart_automation a::before {
    background-image: url(../img/icon-smart_automation.webp);
}

.line-slider-menu > ul.menu li.icon-connect_access_control a::before {
    background-image: url(../img/connect-access_control.webp);
}

.line-slider-menu > ul.menu li.icon-speed-gates a::before {
    background-image: url(../img/icon-speed_gates.webp);
}
.line-slider-menu > ul.menu li.icon-traffic-management a::before{
    background-image: url(../img/traffic_management_bollards.webp);
}
.line-slider-menu > ul.menu li.icon-rb-management  a::before{
    background-image: url(../img/icon-rb-management.webp);
}
.came-box-category-list ul li.icon-road-blockers > a::before{
    background-image: url(../img/dissuasori.svg);
}

